<!DOCTYPE html>
{% load staticfiles %}
<html lang="es">
<head>
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>Laboratorio Remoto Arduino</title>

	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	
	
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/popper.min.js' %}"></script>
	
	<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'js/DjangoAjax.js' %}"></script>
	<script src="{% static 'js/jquery.knob.js' %}"></script>
	<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>

 


	
</head>



<body>

	<div class="container-fluid">

	<header class="row">  	
		<div class="col-md-3">
			<div class="image text-center">
              <img src=" {% static 'images/logo-puce.jpg' %}"  alt="Cinque Terre" width="218" height="83" align="center">
            </div>	
		</div>

		<div class="col-md-9" style="background-color: #615F61;">
		<div class="container text-center mt-3 text-light">
			<font class="font-weight-bold" size="6">Laboratorio Remoto Arduino</font>
        </div>
		</div>
	</header>

	<div class="row mh-100" style="height: 100%; background-color: #4ED7FC;">
		<div class="col-md-12 mt-4">
		{% block body %}
		
		{% endblock body %}
			</div>
	</div>

	

	</div>


<div class="navbar fixed-bottom" align="center" style="background-color: #615F61;">
	<span class="align-middle text-light">© 2018 - PUCE SD. Todos los derechos reservados.</span>
</div>

	
	
</body>
</html>


