{% extends "Laboratorio/base.html" %}
{% load staticfiles %}


{% block body %}



<div class="col-md-12" align="right">

					<h4> Tiempo restante: <span id="demo">  </span></h4>
					<h6> Personas en cola: <span id="per">  </span></h6>

</div>
<br><br><br>
<div class="container">
	<div class="col-md-12" id="cargando">
		
		<h1>Eres el siguiente !!</h1>

	</div>
	<br><br>
	<div>
	<form action="{% url 'Laboratorio:Ingresar' %}" method="post"> {% csrf_token %}
		<input type="submit" class="btn btn-dark" value="Ingresar" name="">
	</form>
	
</div>

</div>

<script>

var tiempo={{tiempo}};
var time =  tiempo;
var esperandoEnCola= {{cola}};



function verificarUsuario(){
  $.ajax({
              url: '/actualizarUsuario/',
                dataType: 'json',
                success: function (data) {
                  if (!data){
                    location.href ="{% url 'Laboratorio:Esperar' %}";
                  }
                }
         });
}

setInterval(verificarUsuario,1500)


function actualizar(){
	$.ajax({
        			url: '/actualizarTiempos/',
      				  dataType: 'json',
       					success: function (data) {
       						time=data[0];
       						esperandoEnCola=data[1];
				        }
     		 });
}

setInterval(actualizar,1500)



function contar(){

var minutes = Math.floor( time / 60 );
var seconds = time % 60;
minutes = minutes < 10 ? '0' + minutes : minutes;
seconds = seconds < 10 ? '0' + seconds : seconds;
var result = minutes + ":" + seconds; 
document.getElementById("demo").innerHTML= result;
document.getElementById("per").innerHTML= esperandoEnCola;

time--;
if (time==1 && esperandoEnCola>=1){
  location.href ="{% url 'Laboratorio:Esperar' %}";
}else if (time==0){
	time=tiempo;
}

}

setInterval(contar,1500)
</script>

{% endblock body %}