{% extends "Laboratorio/base.html" %}
{% load staticfiles %}

{% block body %}
<script type="text/javascript" src="{% static 'js/jquery.knob.js' %}"></script>

<div class="row">


				<div class="col-md-6 my-4">
					

					<div class="container text-center">
						
						<iframe src="http://192.168.100.42:8888" width= "545" height="320" frameborder="0"></iframe>
						<textarea id="monitor" cols="45" rows="8"></textarea><br/>
	    			<!--	<input id="btn_empezar" type="button" value="Empezar"/>
	   					<input id="btn_parar" type="button" value="Parar"/>
	   					
		
<input type="number" id="txt_baudios" min="1" max="1000000" placeholder="9600" value="9600">
	   					<input id="btn_env_baudios" type="button" value="Baudios"/>
-->

					</div>

				
					
				</div>

				<div class="col-md-6 my-3">

					<div class="row md-2 my-3 text-center">						

						<div class="col-md-6">

								<h6 class="font-weight-bold">Entradas Digitales</h6>
								<input id="on1" type="button" onclick="Enviar(this)" class="btn btn-danger" value="Pin 1">
								</button>								
								<br>
								<input id="on2" type="button" onclick="Enviar(this)" class="btn btn-danger" value="Pin 2">
								</button>
	
								<br>
								<input id="on3" type="button" onclick="Enviar(this)" class="btn btn-danger" value="Pin 3">
								</button>
								
								<br>
								<input id="on4" type="button" onclick="Enviar(this)" class="btn btn-danger" value="Pin 4">
								</button>
								
								<br>
								<input id="on5" type="button" onclick="Enviar(this)" class="btn btn-danger" value="Pin 5">
								</button>
								
								<br>
								<input id="on6" type="button" onclick="Enviar(this)" class="btn btn-danger" value="Pin 6">
								</button>
								
								<br>
								<input id="on7" type="button" onclick="Enviar(this)" class="btn btn-danger" value="Pin 7">
								</button>
								
								<br>
								<input id="on8" type="button" onclick="Enviar(this)" class="btn btn-danger" value="Pin 8">
								</button>
								
								<br><br><br>						
						</div>

						<div class="col-md-6">
							<div class="container text-center col-md-8">

							<h6 class="font-weight-bold">Análogo 1</h6>

							<input type="text" value="0" class="analogo1" data-entryid="ana1" id="anal1">

							<script>
							    $(function() {
							        $(".analogo1").knob({
							        	'fgColor':'#615F61',
							        	'width':100,
							        	'height':100,
							        	'angleOffset':-125,    
										'angleArc':250,
										release : function (value) {
                    					
                    					$.ajax({
        									url: '/accionarAnalogo/',
        									data: {
        				  							'peticionA': value,
        				  							'saludo': (this.$.attr('data-entryid'))			  							
       				 						},
      				  						dataType: 'json',
       											
     		 							});
               		 					},
							        });
							    });

							</script>

						</div>
						<br><br>
						<div class="container text-center col-md-8">

							<h6 class="font-weight-bold">Análogo 2</h6>

							<input type="text" value="0" class="analogo2" data-entryid="ana2" id="anal2">

							<script>
							    $(function() {
							        $(".analogo2").knob({
							        	'fgColor':'#615F61',
							        	'width':100,
							        	'height':100,
							        	'angleOffset':-125,
										'angleArc':250,
										release : function (value) {
                    					
                    					$.ajax({
        									url: '/accionarAnalogo/',
        									data: {
        				  							'peticionA': value,
        				  							'saludo': (this.$.attr('data-entryid'))
        				  							
        				  							
       				 						},
      				  						dataType: 'json',
       											
     		 							});
            		 					},
							        });
							    });
							</script>

						</div>
						</div>
						

						

					</div>
					<div class="col-md-12" align="right">

						<h4> Tiempo restante: <span id="demo">  </span></h4>
						<h6> Personas en cola: <span id="per">  </span></h6>

					</div>
				</div>
			</div>

			<div class="row">
				<div class="container-fluid md-12">
					
				</div>
				
			</div>
			

			<script type="text/javascript">
			var objeto;
			function Enviar(a){
							
				if (a.id == 'on1'){
    					$('#on1').prop('id','off1');
    					$('#off1').prop('class','btn btn-success');
    					$('#off1').prop('value','ON 1');   					
				}else if (a.id == 'off1'){					 
    					$('#off1').prop('id','on1');
    					$('#on1').prop('class','btn btn-danger');   
    					$('#on1').prop('value','OFF 1'); 				  					
				}else if (a.id == 'on2'){
    					$('#on2').prop('id','off2');
    					$('#off2').prop('class','btn btn-success');
    					$('#off2').prop('value','ON 2');   					
				}else if (a.id == 'off2'){					 
    					$('#off2').prop('id','on2');
    					$('#on2').prop('class','btn btn-danger');   
    					$('#on2').prop('value','OFF 2'); 				  					
				}else if (a.id == 'on3'){
						$('#on3').prop('id','off3');
    					$('#off3').prop('class','btn btn-success');
    					$('#off3').prop('value','ON 3');
				}else if (a.id == 'off3'){
						$('#off3').prop('id','on3');
    					$('#on3').prop('class','btn btn-danger');   
    					$('#on3').prop('value','OFF 3'); 
				}else if (a.id == 'on4'){
						$('#on4').prop('id','off4');
    					$('#off4').prop('class','btn btn-success');
    					$('#off4').prop('value','ON 4');
				}else if (a.id == 'off4'){
						$('#off4').prop('id','on4');
    					$('#on4').prop('class','btn btn-danger');   
    					$('#on4').prop('value','OFF 4'); 
				}else if (a.id == 'on5'){
						$('#on5').prop('id','off5');
    					$('#off5').prop('class','btn btn-success');
    					$('#off5').prop('value','ON 5');
				}else if (a.id == 'off5'){
						$('#off5').prop('id','on5');
    					$('#on5').prop('class','btn btn-danger');   
    					$('#on5').prop('value','OFF 5'); 
				}else if (a.id == 'on6'){
						$('#on6').prop('id','off6');
    					$('#off6').prop('class','btn btn-success');
    					$('#off6').prop('value','ON 6');
				}else if (a.id == 'off6'){
						$('#off6').prop('id','on6');
    					$('#on6').prop('class','btn btn-danger');   
    					$('#on6').prop('value','OFF 6'); 
				}else if (a.id == 'on7'){
						$('#on7').prop('id','off7');
    					$('#off7').prop('class','btn btn-success');
    					$('#off7').prop('value','ON 7');
				}else if (a.id == 'off7'){
						$('#off7').prop('id','on7');
    					$('#on7').prop('class','btn btn-danger');   
    					$('#on7').prop('value','OFF 7'); 
				}else if (a.id == 'on8'){
						$('#on8').prop('id','off8');
    					$('#off8').prop('class','btn btn-success');
    					$('#off8').prop('value','ON 8');
				}else if (a.id == 'off8'){
						$('#off8').prop('id','on8');
    					$('#on8').prop('class','btn btn-danger');   
    					$('#on8').prop('value','OFF 8'); 
				}else{

				}

				objeto=a;
				$.ajax({
        			url: '/accionarBoton/',
        			data: {
        				  'peticion': String(objeto.id)
       				 },
      				  dataType: 'json',
       					success: function (data) {

				        		
				        		
				        }
     		 });
			}
			
			</script>


			

<script>

var tiempo={{tiempo}};
var time =  tiempo;
var esperandoEnCola= {{cola}};



function verificarUsuario(){
  $.ajax({
              url: '/actualizarUsuario/',
                dataType: 'json',
                success: function (data) {
                  if (!data){
                    location.href ="{% url 'Laboratorio:Esperar' %}";
                  }
                }
         });
}

setInterval(verificarUsuario,1500)


function actualizar(){
	$.ajax({
        			url: '/actualizarTiempos/',
      				  dataType: 'json',
       					success: function (data) {
       						time=data[0];
       						esperandoEnCola=data[1];
				        }
     		 });
}

setInterval(actualizar,1500)



function contar(){

var minutes = Math.floor( time / 60 );
var seconds = time % 60;
minutes = minutes < 10 ? '0' + minutes : minutes;
seconds = seconds < 10 ? '0' + seconds : seconds;
var result = minutes + ":" + seconds; 
document.getElementById("demo").innerHTML= result;
document.getElementById("per").innerHTML= esperandoEnCola;

time--;
if (time==1 && esperandoEnCola>=1){
  location.href ="{% url 'Laboratorio:Esperar' %}";
}else if (time==0){
	time=tiempo;
}

}

setInterval(contar,1500)
</script>

<!--
		
-->
			
<script>

    var Socket_cn = new WebSocket(
        'ws://' + window.location.host +
        '/ws/' + 'laboratorio' + '/');

    Socket_cn.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var message = data['message'];
        document.querySelector('#monitor').value += (message + '\n');
        obj = document.getElementById("monitor");
        var currentScrollHeight = obj.scrollHeight;
        obj.scrollTop = (obj.scrollTop + 100000); //set the scroll height to scroll by here.
       
     
    };

    Socket_cn.onclose = function(e) {
        console.error('La conexión con socket se ha detenido');
    };

    document.querySelector('#btn_empezar').onclick = function(e) {
        Socket_cn.send(JSON.stringify({
            'tipo':'start',
        }));
    };

    document.querySelector('#btn_parar').onclick = function(e) {
        
        Socket_cn.send(JSON.stringify({
            'tipo':'stop',
        }));
    };

    document.querySelector('#btn_env_baudios').onclick = function(e) {
    var baudiosInput = document.querySelector('#txt_baudios');
   	var baudios = baudiosInput.value;
       
        Socket_cn.send(JSON.stringify({
            'tipo':'baudio',
            'baudios': baudios,
        }));

    };


</script>


{% endblock body %}