{% extends "Laboratorio/base.html" %}
{% load staticfiles %}

{% block body %}
<script type="text/javascript" src="{% static 'js/jquery.knob.js' %}"></script>

<div class="row">


				<div class="col-md-6 my-4">
					

					<div class="container text-center">
						
						<iframe src="http://192.168.100.42:8888" width= "545" height="320" frameborder="0"></iframe>
						<textarea id="monitor" cols="45" rows="8"></textarea><br/>
	    				<input id="btn_empezar" type="button" value="Empezar"/>
	   					<input id="btn_parar" type="button" value="Parar"/>
	   					<!--
		
<input type="number" id="txt_baudios" min="1" max="1000000" placeholder="9600" value="9600">
	   					<input id="btn_env_baudios" type="button" value="Baudios"/>
-->

					</div>

				
					
				</div>

				<div class="col-md-6 my-3">

					<div class="row md-2 my-3 text-center">						

						<div class="col-md-6">

								<h6 class="font-weight-bold">Entradas Digitales</h6>
								<button id="on1" type="submit" onclick="Enviar(this)" class="btn btn-success">Pin1 On</button>
								<button id="off1" type="submit" onclick="Enviar(this)" class="btn btn-danger">Pin1 Off</button>
								<br>
								<button id="on2" type="submit" onclick="Enviar(this)" class= "btn btn-dark">Pin2 On</button>
								<button id="off2" type="submit" onclick="Enviar(this)" class="btn btn-danger">Pin2 Off</button>
								<br>
								<button id="on3" type="submit" onclick="Enviar(this)" class="btn btn-success">Pin3 On</button>
								<button id="off3" type="submit" onclick="Enviar(this)" class="btn btn-danger">Pin3 Off</button>
								<br>
								<button id="on4" type="submit" onclick="Enviar(this)" class="btn btn-success">Pin4 On</button>
								<button id="off4" type="submit" onclick="Enviar(this)" class="btn btn-danger">Pin4 Off</button>
								<br>
								<button id="on5" type="submit" onclick="Enviar(this)" class="btn btn-success">Pin5 On</button>
								<button id="off5" type="submit" onclick="Enviar(this)" class="btn btn-danger">Pin5 Off</button>
								<br>
								<button id="on6" type="submit" onclick="Enviar(this)" class="btn btn-success">Pin6 On</button>
								<button id="off6" type="submit" onclick="Enviar(this)" class="btn btn-danger">Pin6 Off</button>
								<br>
								<button id="on7" type="submit" onclick="Enviar(this)" class="btn btn-success">Pin7 On</button>
								<button id="off7" type="submit" onclick="Enviar(this)" class="btn btn-danger">Pin7 Off</button>
								<br>
								<button id="on8" type="submit" onclick="Enviar(this)" class="btn btn-success">Pin8 On</button>
								<button id="off8" type="submit" onclick="Enviar(this)" class="btn btn-danger">Pin8 Off</button>
								<br><br><br>						
						</div>

						<div class="col-md-6">
							<div class="container text-center col-md-8">

							<h6 class="font-weight-bold">Análogo 1</h6>

							<input type="text" value="0" class="analogo1" data-entryid="ana1" id="anal1">

							<script>
							    $(function() {
							        $(".analogo1").knob({
							        	'fgColor':'#615F61',
							        	'width':100,
							        	'height':100,
							        	'angleOffset':-125,    
										'angleArc':250,
										release : function (value) {
                    					
                    					$.ajax({
        									url: '/accionarAnalogo/',
        									data: {
        				  							'peticionA': value,
        				  							'saludo': (this.$.attr('data-entryid'))			  							
       				 						},
      				  						dataType: 'json',
       											
     		 							});
               		 					},
							        });
							    });

							</script>

						</div>
						<br><br>
						<div class="container text-center col-md-8">

							<h6 class="font-weight-bold">Análogo 2</h6>

							<input type="text" value="0" class="analogo2" data-entryid="ana2" id="anal2">

							<script>
							    $(function() {
							        $(".analogo2").knob({
							        	'fgColor':'#615F61',
							        	'width':100,
							        	'height':100,
							        	'angleOffset':-125,
										'angleArc':250,
										release : function (value) {
                    					
                    					$.ajax({
        									url: '/accionarAnalogo/',
        									data: {
        				  							'peticionA': value,
        				  							'saludo': (this.$.attr('data-entryid'))
        				  							
        				  							
       				 						},
      				  						dataType: 'json',
       											
     		 							});
            		 					},
							        });
							    });
							</script>

						</div>
						</div>
						

						

					</div>
					<div class="col-md-12" align="right">

						<h4> Tiempo restante: <span id="demo">  </span></h4>
						<h6> Personas en cola: <span id="per">  </span></h6>

					</div>
				</div>
			</div>

			<div class="row">
				<div class="container-fluid md-12">
					
				</div>
				
			</div>
			

			<script type="text/javascript">
			var objeto;
			function Enviar(a){
				
				objeto=a;
				//if (a.id == 'on2'){
				//	$("#on2").click(function(){ 
    			//		$('#on2').attr('id','off2');
    			//		});	
				//}else if (a.id == 'off2'){
				//	$("#off2").click(function(){ 
    			//		$('#off2').attr('id','on2');     				
    			//		});	
				//}else{

				//}
				 
				$.ajax({
        			url: '/accionarBoton/',
        			data: {
        				  'peticion': String(objeto.id)
       				 },
      				  dataType: 'json',
       					success: function (data) {

				        		boton = document.getElementById(String(data))

				        		if (boton.className  == "btn btn-dark"){
				        			boton.className = "btn btn-success";

				        		}else{
				        			boton.className = "btn btn-dark";
				        		}
				        		
				        }
     		 });
			}
			
			</script>


			

<script>

var tiempo={{tiempo}};
var time =  tiempo;
var esperandoEnCola= {{cola}};



function verificarUsuario(){
  $.ajax({
              url: '/actualizarUsuario/',
                dataType: 'json',
                success: function (data) {
                  if (!data){
                    location.href ="{% url 'Laboratorio:Esperar' %}";
                  }
                }
         });
}

setInterval(verificarUsuario,1500)


function actualizar(){
	$.ajax({
        			url: '/actualizarTiempos/',
      				  dataType: 'json',
       					success: function (data) {
       						time=data[0];
       						esperandoEnCola=data[1];
				        }
     		 });
}

setInterval(actualizar,1500)



function contar(){

var minutes = Math.floor( time / 60 );
var seconds = time % 60;
minutes = minutes < 10 ? '0' + minutes : minutes;
seconds = seconds < 10 ? '0' + seconds : seconds;
var result = minutes + ":" + seconds; 
document.getElementById("demo").innerHTML= result;
document.getElementById("per").innerHTML= esperandoEnCola;

time--;
if (time==1 && esperandoEnCola>=1){
  location.href ="{% url 'Laboratorio:Esperar' %}";
}else if (time==0){
	time=tiempo;
}

}

setInterval(contar,1500)
</script>

<!--
		
-->
			
<script>

    var Socket_cn = new WebSocket(
        'ws://' + window.location.host +
        '/ws/' + 'laboratorio' + '/');

    Socket_cn.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var message = data['message'];
        document.querySelector('#monitor').value += (message + '\n');
        obj = document.getElementById("monitor");
        var currentScrollHeight = obj.scrollHeight;
        obj.scrollTop = (obj.scrollTop + 100000); //set the scroll height to scroll by here.
       
     
    };

    Socket_cn.onclose = function(e) {
        console.error('La conexión con socket se ha detenido');
    };

    document.querySelector('#btn_empezar').onclick = function(e) {
        Socket_cn.send(JSON.stringify({
            'tipo':'start',
        }));
    };

    document.querySelector('#btn_parar').onclick = function(e) {
        
        Socket_cn.send(JSON.stringify({
            'tipo':'stop',
        }));
    };

    document.querySelector('#btn_env_baudios').onclick = function(e) {
    var baudiosInput = document.querySelector('#txt_baudios');
   	var baudios = baudiosInput.value;
       
        Socket_cn.send(JSON.stringify({
            'tipo':'baudio',
            'baudios': baudios,
        }));

    };


</script>


{% endblock body %}