
{% extends "Laboratorio/base.html" %}
{% load staticfiles %}

{% block body %}

<script type="text/javascript" src="{% static 'js/jquery.knob.js' %}"></script>
			<div class="row" align="center" >
				<div class="centrar">
					<form role="form" action="{% url 'Laboratorio:Subir-Archivo' %}" method="post" enctype="multipart/form-data"> {% csrf_token %}
								{{ form.as_p }}
						<div class="form-group">
							 <br><br><br><br><br><br><br><br>
							<label for="exampleInputFile">
								Entrada de archivo
							</label>
							<input type="file" name="exampleInputFile" />
							<p class="help-block">
								Selecciona un Sketch Arduino con extensión .ino
							</p>
						</div>

						
						<button name="sketch" type="submit" class="btn btn-dark">Enviar</button>

						
						{% if uploaded_file_url %}
  			  			<script type="text/javascript"> alertify.alert('Información', 'Mensaje de alerta!', function(){ alertify.success("{{ uploaded_file_url }}");}); </script>
 					 	{% endif %}


 					 	{% if exito %}
						<button name="compilarbtn" id="compilarbtn" type="button" class="btn btn-dark">Compilar y cargar</button>
  			  			{% else %}
  			  			<button name="compilarbtn" id="compilarbtn" disabled type="button" class="btn btn-dark">Compilar y cargar</button>
 					 	{% endif %}
				</form>

				</div>
				
			</div>

												
<script type="text/javascript">
	

		$("#compilarbtn").click(function () {
					
						$.ajax({
        			url: '/compilar/',
        			data: {
        				  'respuesta': true
       				 },
      				  dataType: 'json',
       					success: function (data) {
				        	if (data =='true'){
				        		alertify.success('Archivo compilado y cargado satisfactoriamente');
				        	}else{
				        		alertify.error('Archivo no ha sido compilado');
				        	}
				          
				        }
     		 });

		});

					

</script>



					
{% endblock body %}
